<script setup>
import Button from "primevue/button";
import DataView from "primevue/dataview";
import useCartStore from "@/store/cartStore";
import useProduct from "@/composables/product/useProduct";
import { useToast } from "primevue/usetoast";
import router from '@/router'
const cartStore = useCartStore();
const { modelProduct } = useProduct();
const toast = useToast();
const onDeleteProduct = async (data) => {
  const resp = await cartStore.deleteProduct(data);
  if(resp.status === 200){
    toast.add({
      severity: "error",
      summary: "Producto eliminado",
      detail: "Se eliminó el producto correctamente",
      life: 3000,
    });
  }
  if (cartStore.cart.length === 0) {
    router.push('/')
  }
};

</script>

<template>
  <div class="px-6">
    <div class="flex mb-1">
      <p class="rounded-none text-indigo-950 text-2xl font-semibold">
        Carrito de compras
      </p>
    </div>

    <DataView
      class="shadow-2 mb-5"
      :value="cartStore.cart"
      paginator
      :rows="4"
      v-if="cartStore.cart !== null"
    >
      <template #list="slotProps">
        <div class="col-12">
          <div class="flex xl:flex-row xl:align-items-start p-4 gap-4">
            <img
              class="h-5rem block mx-auto align-self-center"
              :src="`${slotProps.data.image}`"
              :alt="slotProps.data.title"
            />

            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold text-900">
                  {{ modelProduct(slotProps.data.title) }}
                </div>
                <p class="m-0">Cantidad: {{ slotProps.data.quantity }}</p>
                <p class="m-0">Precio: ${{ slotProps.data.price }} c/u</p>
                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{
                      slotProps.data.category
                    }}</span>
                  </span>
                </div>
              </div>
              <div
                class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              >
                <span class="text-2xl font-semibold"
                  >Total</span
                >
                <span class="text-2xl font-semibold"
                  >${{ slotProps.data.price * slotProps.data.quantity }}</span
                >
                <Button
                  severity="danger"
                  icon="pi pi-trash"
                  rounded
                  @click="onDeleteProduct(slotProps.data.id)"
                ></Button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </DataView>
  </div>
</template>
