<script setup>
import MegaMenu from "primevue/megamenu";
import Dialog from "primevue/dialog";
import InputText from "primevue/inputtext";
import useLayout from "@/composables/useLayout";
import useMainStore from "@/store";
import useProductStore from "@/store/productStore";
import Button from "primevue/button";
import Toast from "primevue/toast";
import { useToast } from "primevue/usetoast";
const { items, showDialog, userData, createUser } = useLayout();
const mainStore = useMainStore();
const toast = useToast();
const productStore = useProductStore();
const handleSubmit = async () => {
  const response = await createUser();
  if (response.status === 200 && response.id !== null) {
    toast.add({
      severity: "success",
      summary: "Usuario creado",
      detail: "Operación finalizada correctamente",
      life: 3000,
    });
  }
};
</script>
<template>
  <div class="w-full overflow-hidden">
    <MegaMenu :model="items">
      <template #item="{ label, item, props }">
        <router-link
          v-if="item.route"
          v-slot="routerProps"
          :to="item.route"
          class="no-underline"
        >
          <a :href="routerProps.href" v-bind="props.action">
            <span v-bind="props.icon" />
            <span v-bind="props.label">{{ label }}</span>
          </a>
        </router-link></template
      >
      <template #end>
        <InputText
          v-if="$route.path !== '/cart'"
          v-model="productStore.queryFilter"
          placeholder="Search"
          type="text"
        />
      </template>
    </MegaMenu>
    <RouterView />
    <Dialog
      v-model:visible="mainStore.showModal"
      modal
      :header="`Inicia sesión ${showDialog}`"
      :style="{ width: '50rem' }"
      :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
    >
      <div>
        <div class="flex justify-content-between gap-4 mb-3">
          <div class="w-full">
            <label for="email" class="block text-900 font-medium mb-2"
              >Email</label
            >
            <InputText
              id="email"
              type="email"
              class="w-full"
              v-model="userData.email"
            />
          </div>
          <div class="w-full">
            <label for="username" class="block text-900 font-medium mb-2"
              >Nombre de usuario</label
            >
            <InputText
              id="username"
              type="text"
              class="w-full"
              v-model="userData.username"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="block text-900 font-medium mb-2"
            >Nombre completo</label
          >
          <InputText
            id="name"
            type="text"
            class="w-full"
            v-model="userData.name.firstname"
          />
        </div>
        <div class="mb-3">
          <label for="password1" class="block text-900 font-medium mb-2"
            >Password</label
          >
          <InputText
            id="password1"
            type="password"
            class="w-full"
            v-model="userData.password"
          />
        </div>

        <Button
          label="Crear"
          icon="pi pi-user"
          class="w-full"
          @click="handleSubmit"
        ></Button>

        <p>¿Ya tienes cuenta? Inicia sesión</p>
      </div>
    </Dialog>

    <Toast position="top-right" />
  </div>
</template>
