<script setup>
import DataView from "primevue/dataview";
import useProduct from "@/composables/product/useProduct";
import Rating from "primevue/rating";
import Button from "primevue/button";
import ListLoader from "@/components/common/ListLoader.vue";
import useProductStore from "@/store/productStore";
import useCartStore from "@/store/cartStore";
import Badge from "primevue/badge";
import { useToast } from "primevue/usetoast";
const { modelProduct } = useProduct();
const productStore = useProductStore();
const cartStore = useCartStore();
const toast = useToast();
const onAddProduct = async (data) => {
  const resp = await cartStore.addProduct(data);
  if(resp.status === 200){
    toast.add({
      severity: "success",
      summary: "Producto agregado",
      detail: "Se agregó el producto correctamente",
      life: 3000,
    });
  }
};
</script>

<template>
  <div class="px-6">
    <div class="flex mb-1">
      <p class="rounded-none text-indigo-950 text-2xl font-semibold">
        Productos
      </p>
    </div>
    <div class="flex justify-items-center gap-4 flex-wrap mb-4">
      <Badge
        class="cursor-pointer"
        v-for="(category, index) in productStore.categories"
        :value="category"
        :severity="
          (index === 0 && 'success') ||
          (index === 2 && 'success') ||
          (index === 3 && 'warning') ||
          (index === 1 && 'danger')
        "
        @click="productStore.setCategory(category)"
        >{{ category }}</Badge
      >
      <Badge
        v-if="productStore.categoryFilter !== null"
        @click="productStore.clearFilter"
        severity="info"
        class="cursor-pointer flex align-items-center justify-content-center gap-2"
      >
        <i class="pi pi-times-circle m-0"></i>
        <p class="m-0">Limpiar</p>
      </Badge>
    </div>
    <DataView
      class="shadow-2 mb-5"
      :value="productStore.getFilteredProducts"
      paginator
      :rows="4"
      v-if="productStore.getFilteredProducts !== null"
    >
      <template #list="slotProps">
        <div class="col-12">
          <div
            class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
          >
            <img
              class="w-9 sm:w-16rem xl:w-4rem block xl:block mx-auto align-self-center"
              :src="`${slotProps.data.image}`"
              :alt="slotProps.data.title"
            />

            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold text-900">
                  {{ modelProduct(slotProps.data.title) }}
                </div>
                <Rating
                  :modelValue="slotProps.data.rating.rate"
                  readonly
                  :cancel="false"
                ></Rating>
                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{
                      slotProps.data.category
                    }}</span>
                  </span>
                </div>
              </div>
              <div
                class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              >
                <span class="text-2xl font-semibold"
                  >${{ slotProps.data.price }}</span
                >
                <Button
                  icon="pi pi-shopping-cart"
                  rounded
                  @click="onAddProduct(slotProps.data)"
                ></Button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </DataView>

    <ListLoader v-else />
  </div>
</template>
